h2 {margin-bottom: 5px;}
h3 {margin-top: 5px;}
body {font-family: Helvetica;}
th {text-align:left;}
table,th,td {
    border:1px solid lightgrey;
    border-collapse:collapse
}
table.header, table.header th, table.header td {border:0;padding-left:10px;padding-bottom:5px;}
table.content th, table.content td {padding:10px;}
.athlete-name {
    background-color: rgb(153,236,65);
    color: black;
    white-space: nowrap;
    overflow-x: hidden;
    font-size: calc(4vw + 4vh + 2vmin);
    font-weight: bold;
    letter-spacing: 5px;
    padding-top: 2px;
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: center;
}
.spectator-text {color: black; overflow-y: hidden;}
.score {font-size: 50vh;}
.comp-text {color: black;}
.timer {
    float: right;font-size: 20vh;
}
.na{
    text-align: center;font-size: 12vh;
}
.timer-large {
    width: 100%;
    font-size: 40vh;
    text-align: center;
}
.timer-half {
   font-size: 35vh;
   text-align: center; 
}
.score-half {
   font-size: 35vh;
   text-align: center;
}
#increment {
    float: left;
    margin-left: 50px;
}
#reset {
    float: right;
    margin-right: 50px;
}
#header {
    bottom: 10px;
    width: 100%;
}
#header-inner {
    padding-top: 1px;
    padding-bottom: 10px;
    color: black;
    background-color: rgb(153,236,65);
    padding-left: 10px;
    margin-right: 1px;
    height: 100%;
}
#footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    height: 100px;
    z-index: -1;
}
#footer-inner {
    /*background-color: rgb(167,175,197);*/
    margin-right: 15px;
    height: 100%;
}
