<!DOCTYPE html>
<html>
<head>
    <title>{{ scoring_station }}</title>
    <script src="/static/jquery-2.0.3.min.js"></script>
    <script src="/static/scoring.js"></script>
    <script language="JavaScript">
        $(document).ready(function(){
            setInterval(function(){ getScoreAndTiming({{ scoring_station.event.id }}, {{ scoring_station.station_num }}) }, 250);
        });
    </script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<header>
    <div class="athlete-name">{{ scoring_station.athlete.name }}</div>
</header>
<body class="comp-text">
    <div id="timer-half" class="timer-half">00:00</div>
    <div id="score-half" class="score-half">{{ scoring_station.score }}</div>
</body>
</html>
