<!DOCTYPE html>
<html>
<head>
    <title>{{ scoring_station }}</title>
    <script src="/static/jquery-2.0.3.min.js"></script>
    <script src="/static/scoring.js"></script>
    <script language="JavaScript">
        $(document).ready(function(){
            $(window).load(function(){
                doCenter();
            });
            $(window).resize(function(){
                doCenter();
            });
            // To initially run the centering function:
            $(window).load();
            setInterval(function(){ getScoreAndTiming({{ scoring_station.event.id }}, {{ scoring_station.station_num }}) }, 250);
        });
    </script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<header>
    <div class="athlete-name">{{ scoring_station.athlete.name }}</div>
</header>

<body class="comp-text">
    <!-- show a large score display for the athlete to see -->
    <div id="score" class="timer-large comp-text">{{ scoring_station.score }}</div>
</body>
</html>