<!DOCTYPE html>
<html>
<head>
    <title>{{ scoring_station }}</title>
    <script src="/static/jquery-2.0.3.min.js"></script>
    <script src="/static/scoring.js"></script>
    <script language="JavaScript">
        $(document).ready(function(){
            $(window).load(function(){
                doCenter();
            });
            $(window).resize(function(){
                doCenter();
            });
            // To initially run the centering function:
            $(window).load();
            setInterval(function(){ getScoreAndTiming({{ scoring_station.event.id }}, {{ scoring_station.station_num }}) }, 250);
        });
    </script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body class="comp-text">

    <div id="header">
        <div id="header-inner">
            <h2>
                Event: {{ scoring_station.event.name }}<br />
            </h2>

            <h3>
                Viewing Station &#x2799; {{ scoring_station.station_num }}<br />
                Judge: {{ scoring_station.judge.name }}<br />
                Athlete: {{ scoring_station.athlete.name }}
            </h3>
        </div>
    </div>

    <div id="score" class="score">{{ scoring_station.score }}</div>

    <div id="timer" class="timer">00:00</div>

    <div id="footer">
        <div id="footer-inner">
            <img style="position:absolute;right:20px;height:100px;" src="/static/logosc.jpg" />
        </div>
    </div>

</body>
</html>