<!DOCTYPE html>
<html>
<head>
    <title>{{ scoring_station }}</title>
    <script src="/static/jquery-2.0.3.min.js"></script>
    <script src="/static/moment.js"></script>
    <script src="/static/scoring.js"></script>
    <script language="JavaScript">
        var stationNum = {{scoring_station.station_num}};

        var seconds = -1;
        var countdown = 0;
        var initialCountdown = 0;
        var startTime = 0;
        var countdownDuration = 0;

		// global timeout references
		var eventTimer = null;
        var checkStartTime = null;

        $(document).ready(function(){
            $(document).keydown(function(e) {
                if ( stationNum == 1 && e.keyCode == '32' ) {
                    // Space Bar - Only station #1 can start/stop the timer
                    if (countdown == 0) {
                        var now = new Date();
                        postStartTime(now.getTime() - now.getMilliseconds() + 2000, seconds);
                    }
                    else {
                        postStartTime(-1, seconds);
                    }
                }
                else if (e.keyCode == '39') {
                    // Right cursor key
                    incrementScore();
                }
                else if (e.keyCode == '37') {
                    // Left cursor key
                    decrementScore();
                }
                else if (e.keyCode == '82') {
                    // 'r' key - Reset station score
                    resetScore();
                }
                else if (e.keyCode == '27' && stationNum == 1) {
                    // Esc key
                    postStartTime(-1, -1);
                }
                else if ((e.keyCode == '48' || e.keyCode == '96') && stationNum == 1) {
                    // Number 0 - Start the official competition timer duration as set in the DB
                    var now = new Date();
                    postStartTime(now.getTime() - now.getMilliseconds() + 2000, 10); // flag this by setting the duration to the 10 second initial timer
                }
                else if ((e.keyCode == '51' || e.keyCode == '99') && stationNum == 1) {
                    // Number 3
                    var now = new Date();
                    postStartTime(now.getTime() - now.getMilliseconds() + 2000, 3 * 60);
                }
                else if ((e.keyCode == '53' || e.keyCode == '101') && stationNum == 1) {
                    // Number 3
                    var now = new Date();
                    postStartTime(now.getTime() - now.getMilliseconds() + 2000, 5 * 60);
                }
            });

			// set the initial timeout period and start the one second timer loop
			var now = new Date();
			var timeoutPeriod = 2000 - now.getMilliseconds(); // set timeout to trigger on second boundary, also use 2000 ms - now.ms to ensure timeout period isn't tool small
			var expectedTime = now.getTime() + timeoutPeriod;
            setTimeout(oneSecondLoop, timeoutPeriod, expectedTime);

            // Check for new event start time
            checkStartTime = setInterval(function(){getStartTime({{scoring_station.event.id}})}, 250);
        });

        function decrementScore() {
            // Get value from element on the page:
            var score = parseInt(document.getElementById("score-half").innerHTML);
            score--;

            updateAndPostScore(score);
        }

        function incrementScore() {
            // Get value from element on the page:
            var score = parseInt(document.getElementById("score-half").innerHTML);
            score++;

            updateAndPostScore(score);
        }

        function resetScore() {
            // Send reset data using post
            var data = {
                id: {{scoring_station.id}},
                score: 0,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            };

            var posting = $.post( '/api/score/{{scoring_station.event.id}}/{{scoring_station.station_num}}', data );

            // Reset local view
            document.getElementById("score-half").innerHTML = '0';
        }

        function updateAndPostScore(score) {
            // update local view
            document.getElementById("score-half").innerHTML = score + "";
            doCenter();

            // Send the current score using post
            var data = {
                id: {{scoring_station.id}},
                score: score,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            };
            var posting = $.post( '/api/score/{{scoring_station.event.id}}/{{scoring_station.station_num}}', data );
        }

        function postStartTime(startTime, countdownDuration) {
            // Send the data using post
            var data = {
                id: {{scoring_station.event.id}},
                start_time: startTime,
                countdown_duration: countdownDuration,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            };

            var posting = $.post( '/api/start_time/{{scoring_station.event.id}}', data );
        }

        function getStartTime(eventId){
            $.ajax({
                type: 'GET',
                dataType: "json",
                url: '/api/start_time/' + eventId,
                success: function(data){
                    if (data.start_time > startTime) {
                        startTime = data.start_time;
                        countdownDuration = data.countdown_duration;
                    }
                    else if (data.start_time == -1 && data.countdown_duration > 0) {
                        countdown = 0;
                    }
                    else if (data.start_time == -1 && data.countdown_duration == -1) {
                        countdown = 0;
                        initialCountdown = 0;
                        seconds = 0;
                        document.getElementById("timer-half").innerHTML = "00:00"
//                        resetScore();
                    }

                    checkCurrentEvent(data, eventId);
                }
            });
        }

		function oneSecondLoop(expectedTime) {
            var now = new Date().getTime();

            if (startTime == expectedTime) {
                countdown = 1;
                seconds = countdownDuration;

                if (countdownDuration == 10) {
                    initialCountdown = 1;
                }
            }

            if (countdown == 1) {
                if (seconds == 0) {
                    document.getElementById("beep-long").play();
                }
                else if (seconds <= 3 && initialCountdown == 1) {
                    document.getElementById("beep-short").play();
                }

                if (seconds == 0 && initialCountdown == 1) {
                    seconds = seconds + {{scoring_station.event.duration_seconds}}; // add event duration time
                    initialCountdown = 0;
                }

                // update clock
                if (seconds >= 0) {
                    document.getElementById("timer-half").innerHTML = moment(moment.duration(seconds*1000).minutes(), "mm").format("mm") + ":" + moment(moment.duration(seconds*1000).seconds(), "ss").format("ss");
                    seconds--;
                }
                else {
                    countdown = 0;
                    intitialCountdown = 0;
                }
            }

            // work out the elapsed time and set new timeout value
            var timeoutPeriod = 1000 - (now - expectedTime);

            // set timeout for the next instance
            eventTimer = setTimeout(oneSecondLoop, timeoutPeriod, expectedTime + 1000);
		}

    </script>
    <audio id="beep-short" src="/static/beep-short.mp3" preload="auto"></audio>
    <audio id="beep-long" src="/static/beep-long.mp3" preload="auto"></audio>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<header>
    <div class="athlete-name">{{ scoring_station.athlete.name }}</div>
</header>
<body class="spectator-text">
    <form>{% csrf_token %}</form>

    <div id="timer-half" class="timer-half">00:00</div>
    <div id="score-half" class="score-half">{{ scoring_station.score }}</div>
</body>
</html>
